body{
	margin:75px;
	background-color:#1a1a1a;
}
.bg{
	
}
.image{
	float:left;
	margin-right:15px;
	margin-bottom:40px;
}
.firstP{
	clear:right;
}
p{
	color:white;
	font-size: x-large;
	text-align:left;
	margin-right:100px;
}
ul li{
	color:white;
	font-size: x-large;
	text-align:left;
	margin-right:100px;
}
h1{
	color:orange;	
    text-shadow: 1px 1px 1px #ccc;

}
h3{
	color:orange;	
    text-shadow: 1px 1px 1px #ccc;
}
.headerDiv{
	clear:left;
}
.secondImg{
	float:left;
	margin-right: 15px;
	margin-bottom:60pz;
}
.newDiv{
	clear:left;
}

a:hover{
	background-color:orange;
}
a{
	color:green;
}

.astroPic{
	float:right;
	margin-right:55px;
}
.button {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover{
	background-color:red;
}