body{
	background-color:#1a1a1a;
	padding: 0;
	margin: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.navDiv li{
				text-decoration:none;
				list-style-type: none
			}

.navDiv{
	height: 50px;
	width: 100%;
	background-color: black;
	background: -webkit-linear-gradient(rgba(255,255,255,.12), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,.12), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(255,255,255,.12), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(255,255,255,.1), rgba(100,100,100,0)); /* Standard syntax (must be last) */
    margin: 0;
    padding: 0;

}

div.navDiv nav a{
	color:white;
	font-size:20px;
	text-decoration:none;
	float:right;
	padding:10px;
	margin-bottom:0px;
	margin-top: 0;

}
div.navDiv a:hover{
	background-color:orange;

}

div.navDiv nav{
	margin: 0px 100px 0px 0px;
	/*border: solid black;*/
	padding: 0px;
}

#footerPart1 {
	height: 50px;
	background-color: rgba(33, 33, 36, 1);
}
#footerPart1 a{
	color:white;
	font-size:12px;
	text-decoration:none;
	float:right;
	padding:5px;
	margin-right: 5px;
}

#footerPart1Inner{
	margin: 0px auto;
	width: 1000px;
}

#footerPart1 a:hover{
	/*background-color:orange;*/
	text-decoration: underline;
}
#footerPart2 {
	height: 20px;
	background-color: rgba(21, 19, 27, 1);
	color: white;
}

#footerPart2 a{
	color: white;
	text-decoration:none;
}

#footerPart2 a:hover{
	text-decoration:underline;
}

#footerPart2Inner{
	margin: 0px auto;
	width: 1000px;
}

#copyright{
	float:right;
}