body {
	background-color:#1a1a1a;
	color: white;
	z-index: -1;

}

#modal {
	position: absolute;
    background-color: white;
    width: 400px;
    height: 300px;
    margin: 35%;
    bottom: -45%;
    border-radius: 5px;
    padding: 5px;    
    color: black;
    z-index: 1;
}


.lightbox-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    z-index: 0;
}

img {
    width: 130px;
    height: 130px;
    float: right;
    position: relative;
    bottom: 35px;
}

input {
    position: relative;
    top: 50px;
    width: 200px;
}


#donate-pic {
	z-index: -2;
	width: 200px;
	height: 100px;
	top: 5px;
	float: left;
}

#social {
	position: absolute;
	float: left;
	margin-top: 100px;
	z-index: -1;
}

.icon {
	border-radius: 5px;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	margin-left: 10px;
}

#picTitle {
	position: absolute;
	margin-left: 700px;
	bottom: 475px;
	z-index: -1;
}

#pic {
	width: 400px;
	height: 400px;
	margin-right: 100px;
	border-radius: 10px;
	z-index: -1;
}

#call {
	position: absolute;
	margin-top: 300px;
	z-index: -1
}
